<h1>What's new in your network today?</h1>


<% @articles.each do |article| %>
  <div class="row">
     <div class="span3 offset 1">
       <div>
         <div class="contacts-header">You have <% article.company.contacts.length %> contacts at <% article.company.name %> </div>
       </div>
       <% article.company.contacts.each do |contact| %>
	  <a href="<% contact.url %>"><img src="<% contact.image_url %>" hspace="10" vspace="10"></a>
       <% end %>
     </div>
     <div class="span 7">
       <div class="date-header">
         <a href="<% article.forbes_url %>"> <% article.published_date %> | <% article.published_time %> | <% published_city %> </a>
       </div>
       <div class="article-stub">
         <a href="<% article.forbes_url %>"> <% article.stub %> </a>
       </div>
     </div>
  </div>
<% end %>


<%= link_to 'New Forbes user', new_forbes_user_path %>
