<h2>See what's news in your network.</h2>

<div class="footer">
<%- resource_class.omniauth_providers.each do |provider| %>
  <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'button' %>
<% end -%>
</div>