@import "shared.less";

.home.index {
  .background-gradient(vertical, #4D4D4D, #3C3C3C);
}

#signup {
  .drop-shadow();
  margin-top: 60px;
  #signup-inner {
    padding: 30px;
  }
  .middle {
    background: #4c4c4c;
  }
  h2 {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 1em 0;
    text-align: center;
    .text-shadow();
  }
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer {
    text-align: center;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    float: right;
    width: 60%;
    height: 32px;
    font-size: 18px;
  }
  input[type="submit"] {
    font-size: 18px;
  }
  .remember {
    .clearfix();
    margin-top: 10px;
    label {
      float: right;
    }
    input[type="checkbox"] {
      float: right;
      margin-left: 10px;
    }
  }
  .field {
    margin-top: 20px;
    .clearfix();
    position: relative;
    label {
      font-size: 14px;
      position: absolute;
      top: 2px;
      left: 0;
      right: 0;
      bottom: 2px;
      text-align: right;
      padding-right: 67%;
      height: 36px;
      line-height: 36px;
      &.error {
        color: @errorText;
        font-size: 11px;
        line-height: 11px;
        top: 40px;
      }
    }
  }
}

