<!DOCTYPE html>
<html>
<head>
  <title>YourForbes | Feed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="logo container">
    <img src="/assets/logo_sm.png" alt="YourForbes" />
  </div>
</div>

<%= yield %>

</body>
</html>
